mat-toolbar {
  display: flex;
  justify-content: space-between; // Distributes items evenly along the toolbar
}

.spacer {
  flex: 1 1 auto; // Flexible space that pushes navigation buttons to the right
}